{% extends "layout.html" %}

{% block content %}

  <!-- Jumbotron -->
  <div class="container-fluid bg-light p-5">
    <h1 class="display-6">Hi, i´m Cesar Haro</h1>
    <img src="https://scontent.fgdl1-3.fna.fbcdn.net/v/t1.6435-9/58902256_2160772427303412_2892171955685818368_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGvmTex4hSY80isS_A6d0Lx-EGpVtd5vR34QalW13m9HQADYK8EO_WIbxqxGhqo_Zzlk_t6KxZ7hbaZLIq2ztqb&_nc_ohc=Eig-qJjX34IAX_UELLc&_nc_ht=scontent.fgdl1-3.fna&oh=00_AT9GgKIz8CibNEABzyGxhM3OYZrL6tj6uvsoZ9gqT21_Pg&oe=6336B80E" class="rounded float-start" alt="Sdrawnzsher_photo" width="250" >
    <p class="lead me-auto">Currently, DevOps engineer with a passion for innovating and Improve, resolute, self- taught and motivated person with great ability to adapt to teams. I am a Teamwork person who took the DOUniversity program with DevOps tools like Terraform, Consul, Docker, Kubernetes, Vault, Helm, Shell scripting using Azure and AWS as Cloud platform.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Curriculum Vitae</a>   
  </div>
  <!-- Jumbotron -->

  
{% endblock %}

